@use "../../base" as *;
@use "sass:math";

@mixin btn($color: #000, $bg-color: #fff) {
  display: inline-block;
  cursor: pointer;
  padding: $base-padding;
  margin: math.div($base-margin, 2);
  border-radius: $base-border-radius;
  color: $color;
  background-color: $bg-color;
}

.btn {
  @include btn;
}

@each $key, $value in $colors {
  .btn--#{$key} {
    color: mix(black, $value, 50);
    background-color: mix(white, $value, 50);

    &:hover {
      color: complement(mix(white, $value, 50));
      background-color: complement(mix(black, $value, 50));
    }
  }
}
